# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [2]:
# Run this code:

admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [3]:
# Your code here:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [4]:
# Your code here:
admissions.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [5]:
print("The total amount of missing data is", admissions.isnull().sum().sum())

The total amount of missing data is 0

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [6]:
# Your code here:
admissions.set_index('Serial No.', inplace=True)
admissions.head()
# Otra forma de hacerlo es: admissions.index = admissions['Serial No.']

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
# Your code here:
# Concateno ambas columnas y compruebo si son valores únicos.
(admissions['GRE Score'].astype(str) + "-" + admissions['CGPA'].astype(str)).value_counts().sort_values().head()

334-9.07    1
336-9.62    1
301-7.88    1
326-8.89    1
302-8.33    1
dtype: int64

**Podemos decir que la concatenación de estas dos columnas puede funcionar con identificador único, ya que ningún valor concatenado está repetido.**

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [8]:
# Uso set_index con las dos columnas.
# El drop está a True por defecto, por lo que las columnas que pasan a ser index se borran automáticamente.
admissions.set_index(['GRE Score', 'CGPA'], inplace=True)
admissions.head()

,,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE Score,CGPA,,,,,,
337,9.65,118,4,4.5,4.5,1,0.92
316,8.00,104,3,3.0,3.5,1,0.72
322,8.67,110,3,3.5,2.5,1,0.80
314,8.21,103,2,2.0,3.0,0,0.65
330,9.34,115,5,4.5,3.0,1,0.90

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [9]:
# Your code here:
admissions.reset_index(inplace=True)
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337,9.65,118,4,4.5,4.5,1,0.92
1,316,8.00,104,3,3.0,3.5,1,0.72
2,322,8.67,110,3,3.5,2.5,1,0.80
3,314,8.21,103,2,2.0,3.0,0,0.65
4,330,9.34,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [13]:
# Your code here:
admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)].count()

GRE Score            101
CGPA                 101
TOEFL Score          101
University Rating    101
SOP                  101
LOR                  101
Research             101
Chance of Admit      101
dtype: int64

In [16]:
print("The number of rows where the CGPA is higher than 9 and the student has conducted research is",
      admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)]['CGPA'].count())

The number of rows where the CGPA is higher than 9 and the student has conducted research is 101

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [17]:
# Your code here:
admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
28,338,9.40,118,4,3.0,4.5,1,0.91
62,327,9.02,114,3,3.0,3.0,0,0.61
140,326,9.11,114,3,3.0,3.0,1,0.83
217,324,9.01,111,4,3.0,3.0,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84

In [18]:
# Mean chance of admit for these applicants
admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]['Chance of Admit'].mean()

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [29]:
def standardize(col):
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
    
    # Your code here:
    col_std = (col - np.mean(col))/np.std(col)
    return col_std

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [40]:
# Your code here:
admissions['CGPA_std'] = standardize(admissions['CGPA'])
admissions['GRE_std'] = standardize(admissions['GRE Score'])
admissions['LOR_std'] = standardize(admissions['LOR'])
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338

We will generate the decision choice at random using the code below. Please run the cell.

In [43]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [44]:
# Your code here:
admissions['deciding_column'] = admissions.lookup(admissions.index, decision_choice)
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column
0,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,-1.039517
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.481338
4,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.149292

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [46]:
# Your code here:
admissions['decision'] = np.where(admissions['deciding_column'] > 0.8, 1, 0)
admissions.head()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,-1.039517,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.481338,0
4,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.149292,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [59]:
# Your code here:
# admissions[admissions['decision'] == 1]['decision'].count()
print(admissions[admissions['decision'] == 1]['decision'].count(), "applicants will be accepeted.")

90 applicants will be accepeted.

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [69]:
# Your code here:
col_names = admissions.columns.copy()

import re # Importo re para poder sustituir los non-character symbols mediante regex.

new_col_names = []
for name in col_names:
    name = re.sub(r"\W", " ", name).replace(" ", "_").lower()
    new_col_names.append(name)
admissions.columns = new_col_names
admissions.head()

# También podría haber hecho 3 funciones distintas y aplicarlas en una líena a la lista de nombres de las columnas.

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,-1.039517,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.481338,0
4,330,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.149292,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [70]:
# Your code here:

# Give all student with a university rating of 4 or higher a 10 point boost on their GRE score
admissions['gre_score'] = np.where(admissions['university_rating'] >= 4, admissions['gre_score'] + 10 , admissions['gre_score'])
admissions.head()

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision
0,347,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174,1
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,-1.039517,0
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.481338,0
4,340,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.149292,1

In [90]:
# Split the column into 4 bins using the cut function

# Como hay que dividir los valores en 4 bins, voy a utilizar los valores min, primer percentil, segundo percentil,
# tercer percentil, y max. Estos valores son los siguientes:

admissions['gre_score'].describe()

count    385.000000
mean     320.005195
std       14.842751
min      290.000000
25%      309.000000
50%      318.000000
75%      332.000000
max      350.000000
Name: gre_score, dtype: float64

In [89]:
admissions['adjusted_gre'] = pd.cut(admissions['gre_score'],
                                    [int(admissions['gre_score'].min()), int(admissions['gre_score'].quantile(0.25)),
                                    int(admissions['gre_score'].quantile(0.50)), int(admissions['gre_score'].quantile(0.75)), 
                                    int(admissions['gre_score'].max())])

admissions.head()

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
0,347,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174,1,"(332, 350]"
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0,"(309, 318]"
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,-1.039517,0,"(318, 332]"
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.481338,0,"(309, 318]"
4,340,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.149292,1,"(332, 350]"

In [91]:
# En lugar de dejar los intervalos numéricos, podríamos poner etiquetas:

admissions['adjusted_gre'] = pd.cut(admissions['gre_score'],
                                    [int(admissions['gre_score'].min()), int(admissions['gre_score'].quantile(0.25)),
                                    int(admissions['gre_score'].quantile(0.50)), int(admissions['gre_score'].quantile(0.75)), 
                                    int(admissions['gre_score'].max())],
                                    labels = ["low", "medium-low", "medium-high", "high"])

admissions.head()

,gre_score,cgpa,toefl_score,university_rating,sop,lor,research,chance_of_admit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
0,347,9.65,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,1.750174,1,high
1,316,8.00,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,-0.063450,0,medium-low
2,322,8.67,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,-1.039517,0,medium-high
3,314,8.21,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,-0.481338,0,medium-low
4,340,9.34,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,1.149292,1,high